/* Nav Bar */
.cartNavbar {
    height: fit-content;
    padding: 10px;
    width: 99%;
    background-color: white;
    /* position: fixed; */
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid whitesmoke;
    align-items: center;
    top:0;
}

.logo {
    margin-left: 30px;
    height: 40px;
    width: 120px;
}

.logo img, .rightLogo img {
    width: 100%;
    height: 100%;
}

.cartOption {
    width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-size: 12px;
}

.rightLogo {
    display: flex;
    /* margin-right: 10px; */
    width: 250px;
    height: 30px;
}

.rightLogo > div {
    height: 30px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.rightLogoText{
    line-height: 2px;
    margin-top: -5px;
}
/* Nav Bar */

body {
    background-color:whitesmoke;
    font-family: "Roboto Condensed", sans-serif !important;
    color: #424453;
    margin: 0%;
    padding: 0%;

}

/* Checkout section */
.checkoutSection {
    width: 1000px;
    height: 200px;
    margin: 2% auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-between;
}

.addressSection {
    width: 65%;
    background-color: white ;
    border-radius: 10px;
}

.orderSection {
    width: 32%;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 10px;
}

.selectAddress {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    line-height: 5px;
}

.selectAddress > div{
    width: 50%;
    height: 70px;
    border: 1px dashed black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectAddress > div button {
    border: none;
    height: 30px;
    font-size: 12px;
    width: 200px;
    border-radius: 5px;
}

.deliveryBtn button{
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 5px 5px 5px 0px;
    margin-left: 50%;
    background-color: rgb(254,221,51) ;
    font-weight: 600;
    letter-spacing: -0.05em;

}

.deliveryBtn {
    position: relative;
}

.selectDeliveryAddress {
    display: none;
    position: absolute;
    width:45%;
    height: fit-content;
    background-color: white;
    right:32px;
    top: 42px;
    border-radius: 5px;
}

.selectDeliveryAddress a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #424453;
}

.selectDeliveryAddress div {
    padding: 10px;
}

/* Right section */
.items {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.itemImg{
    height: 80px;
}

.itemImg img {
    height: 100%;
}

.itemDescName {
    font-size: 14px;
}

.itemOrderDetail {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.itemOrderDetail p {
    margin-left: 5px;
}

.shippingDetails {
    border-radius: 10px;
    border-top: 1px solid whitesmoke;
    padding: 10px;
    line-height: 2px;
}

.shippingDetails div {
    display: flex;
    justify-content: space-between;
}

.shippingDetails div a {
    font-size: 12px;
}

.shipping {
    font-size: 12px;
}

.adSection {
 display: flex;
 justify-content: space-around;
}

.adBox {
    background-color: white;
    width: 30%;
    height: 120px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center
}

.adBox img {
height: 40px;
margin-top: 10px;

}
/* Right section */
/* Checkout section */

@media only screen and (max-width: 900px) {
    .checkoutSection {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
}

/* ordered page */

.orderPlaced {
    width: 60%;
    padding: 5%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 15%;
}

.orderPlaced button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #424453;
    background-color: white;
    color: #424453;
}